*{
  box-sizing: border-box;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  color: white;
  text-align: center;
  margin: 1rem;
}
.container1{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button{
  background-color: white;
  color: black;
  cursor: pointer;
}

.contbutton1{
  font-size: 1rem;
  padding: 0.5rem 1rem
}

#id1{
 text-align: center;
  font-size: 1 rem;
  background-color: white;
  color: black;
}

.section1{
  margin-top: 1rem;
}

